<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/']">Task Hacker</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <div class="navbar-nav my-2 my-lg-0">
      <div class="dropdown col-md-3">
        <img src="assets/images/user.png" style="cursor:pointer" title="View Profile" id="dropdownMenuProfile"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle" />
        <div class="dropdown-menu profile-ui" aria-labelledby="dropdownMenuProfile">
          <div class="text-center">
            <img [src]="user.profile_pic?'http://localhost:8080/profiles/'+user.profile_pic:'assets/images/profile.jpg'"
              class="profile-pic" />
            <br />
            <h6 class="mt-3">{{user.username}}</h6>
            <br />
            <img src="assets/images/edit.png" title="Edit Profile" class="profile-icon" data-toggle="modal"
              data-target="#exampleModalCenter3" />
            <img src="assets/images/logout.png" title="Logout" class="profile-icon" (click)="logout()" />
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- view task -->
<div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          <span>Update Profile</span>
        </h5>
        <button type="button" class="close" id="closeModals" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #profileForm="ngForm" type="multipart/form-data">
          <div class="form-group">
            <div class="text-center">
              <img
                [src]="user.profile_pic?'http://localhost:8080/profiles/'+user.profile_pic:'assets/images/profile.jpg'"
                style="width:150px;height:150px;border-radius:100px;border:2px solid skyblue;padding:5px;" />
              <i class="fa fa-camera cam" (click)="file.click()"></i>
              <input hidden type="file" name="upload" (change)="uploadProfileImage($event.target.files)" #file>

            </div>
          </div>

          <div class="form-group">
            <div class="text-center">
              <input type="text" class="form-control" [(ngModel)]="user.username" name="username" placeholder="Name"
                required />
            </div>
          </div>
          <div class="form-group">
            <div class="text-center">
              <input type="text" disabled class="form-control" [(ngModel)]="user.email" name="email"
                placeholder="Email" />
            </div>
          </div>
          <div class="text-center">
            <button class="btn btn-primary m-1" style="width:225px;background-color: #0085FF;border:0;border-radius: 0;"
              type="button" (click)="updateProfile()" [disabled]="profileForm.form.invalid">UPDATE</button>
            <button class="btn btn-danger m-1" style="width:225px;background-color: #FF938A;border:0;border-radius: 0;"
              data-dismiss="modal">CLOSE</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>